Alexandr Savca <alexandr.savca89@gmail.com>
Fredrik Rinnestam <fredrik@crux.nu>
James Buren <ryuo@ryuo.xyz>
Johannes Winkelmann <jw@tks6.net>
Juergen Daubert <jue@jue.li>
Matt Housh <jaeger@crux.ninja>
Simone Rota <sip@crux.nu>
Thomas Penteker <tek@serverop.de>
